<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.image %}
      <meta content="{{ site.url }}/public/{{ page.image }}" property="og:image">
    {% else %}
      <meta content="{{ site.url }}/public/rootree-logo.png" property="og:image">
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
</head>
